@model IEnumerable<PokeList.Models.Pokemon>

@{
    ViewData["Title"] = "Index";
}

    <h1>Pokèmon</h1>
    <form class="searchForm">
        <input type="text" name="searchQuery" placeholder="Search for Pokèmon">
    </form> 
<div class="container mt-3">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="card-body m-3">
                <div id="PokeCard" class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.PokemonName)</h5>
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Type)</h4>

                        <p class="card-text">
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>